<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Desafio CronApp - Jecson Carvalho</title>
    <meta http-equiv="X-UA-Compatible"/>
    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <script src="/js/script.js"></script>
    <!-- Biblioteca jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Declaração JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/css/style.css"/>

    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet"/>
</head>
<body ng-app="crudApp" ng-controller="RESTController" data-ng-init="getAllElements()">

<div class="wrap container">

    <div class = "add-button">
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#addModal"><span class="glyphicon glyphicon-plus"></span> Adicionar Pessoa</button>
    </div>

    <div class="search-input">
        <input class="form-control" ng-model="searchText" placeholder="Pesquisar"/>
    </div>

    <div class="table-responsive table_background panel panel-default">
        <table class="table table-striped pessoa-table table-condensed">
            <thead>
            <tr>
                <th>Primeiro Nome</th>
                <th>Sobrenome</th>
                <th>Idade</th>
                <th>País</th>
                <th>Cidade</th>
                <th>Ação</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="element in allElements | filter: searchText">
                <th>{{element.primeiroNome}}</th>
                <th>{{element.sobrenome}}</th>
                <th>{{element.idade}}</th>
                <th>{{element.enderecoPessoa.pais}}</th>
                <th>{{element.enderecoPessoa.cidade}}</th>
                <th>
                    <div class="btn-group">
                        <button ng-click ="dataTransfer(element,$index)" class="btn btn-info" data-toggle="modal" data-target="#updateModal"><span class="glyphicon glyphicon-edit"></span> Atualizar</button>
                        <button class="btn btn-danger" ng-click="deleteElement(element,$index)"><span class="glyphicon glyphicon-remove"></span> Deletar</button>
                        <button ng-click = "dataTransfer(element,$index)" class="btn btn-success" data-toggle="modal" data-target="#viewModal"><span class="glyphicon glyphicon-user"></span> Visualizar</button>
                    </div>
                </th>
            </tr>
            </tbody>
        </table>
    </div>
    <br/>
</div>


<div id="addModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Adicionar Pessoa</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <form ng-submit = "add()">
                        <p>Insira seu Primeiro Nome:</p>
                        <input class="form-control " type="text" placeholder="Primeiro Nome" ng-model="primeiroNomeForm" required="required"/>
                        <p>Insira o Sobrenome:</p>
                        <input class="form-control " type="text" placeholder="Sobrenome" ng-model="sobrenomeForm" required="required"/>
                        <p>Insira a Idade:</p>
                        <input class="form-control " type="number" placeholder="Idade" ng-model="idadeForm" required="required"/>
                        <p>Insira o E-mail</p>
                        <input class="form-control " type="email" placeholder="E-mail" ng-model="emailForm" required="required"/>
                        <p>Insira o País:</p>
                        <input class="form-control " type="text" placeholder="País" ng-model="paisForm" required="required"/>
                        <p>Insira a Cidade:</p>
                        <input class="form-control " type="text" placeholder="Cidade" ng-model="cidadeForm" required="required"/>
                        <button class="btn btn-primary btn-lg btn-block" type="submit">Adicionar</button>
                    </form>
                    <button type="button" class="btn btn-lg btn-default" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>

    </div>
</div>

<div id="updateModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Atualizar Pessoa</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <form ng-submit = "openUpdate($index)">
                        <p>Insira seu Primeiro Nome:</p>
                        <input class="form-control " type="text" ng-bind="" placeholder="Primeiro Nome" ng-model="updatedElement.primeiroNome" required="required"/>
                        <p>Insira o Sobrenome:</p>
                        <input class="form-control " type="text" placeholder="Sobrenome" ng-model="updatedElement.sobrenome" required="required"/>
                        <p>Insira a Idade:</p>
                        <input class="form-control " type="number" placeholder="Idade" ng-model="updatedElement.idade" required="required"/>
                        <p>Insira o E-mail:</p>
                        <input class="form-control " type="email" placeholder="E-mail" ng-model="updatedElement.email" required="required"/>
                        <p>Insira o País:</p>
                        <input class="form-control " type="text" placeholder="País" ng-model="updatedElement.pais" required="required"/>
                        <p>Insira a Cidade:</p>
                        <input class="form-control " type="text" placeholder="Cidade" ng-model="updatedElement.cidade" required="required"/>
                        <button class="btn btn-primary btn-lg btn-block" type="submit">Atualizar</button>
                    </form>
                    <button type="button" class="btn btn-lg btn-default" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>

    </div>
</div>

<div id="viewModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Detalhe Pessoa</h4>
            </div>
            <div class="modal-body">                
                <div class="userBasicData">
                    <div>
                        <span class="users-info">Primeiro Nome:</span>
                        <span ng-bind="updatedElement.primeiroNome"></span>
                    </div>
                    <div>
                        <span class="users-info">Sobrenome:</span>
                        <span ng-bind="updatedElement.sobrenome"></span>
                    </div>
                    <div>
                        <span class="users-info">E-mail:</span>
                        <span ng-bind="updatedElement.email"></span>
                    </div>
                </div>
                <div class="userAge">
                    <span class="users-info">Idade:</span>
                    <span ng-bind="updatedElement.idade"></span>
                </div>
                <div class="userLiveData">
                    <div>
                        <span class="users-info">País:</span>
                        <span ng-bind="updatedElement.pais"></span>
                    </div>
                    <div>
                        <span class="users-info">Cidade:</span>
                        <span ng-bind="updatedElement.cidade"></span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-lg btn-default" data-dismiss="modal">Fechar</button>
            </div>
        </div>

    </div>
</div>
</body>
</html>
